<html>

<head>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>
<script src = "util.js"></script>
<script>var data = <%-JSON.stringify(data)%></script>
<script src = "initPage.js"> </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<div class = "bg-cover"></div>
<div class="col-xs-12 page-base">
    <div id="cart-container">
        <div class = "search-wrapper"><input id="searchMore" placeholder="Search Recipes"></input><button id="searchMore-btn">Add Another Recipe</button></div>
        <div id="items"></div>
    </div>

</div>







</html>