<html>

<head>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>
<script src = "util.js"></script>
<script>var data = <%-JSON.stringify(data)%></script>
<script src = "initPage.js"> </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Mitr:400,500" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div class = "bg-cover"></div>
<div class="col-xs-12 page-base">
    <div id="search-container">
        <div class="img-holder">
            <img src="logo2.png" class="logo" alt="Smiley face" height="100" width="100">
        </div>
        <h1 id="pg-title">Recipe Dash</h1>
        <div class="col-xs-12" id="search-maindiv">
            <row>
                <!-- <p id="prompt-text">Enter the url link for your recipe</p> -->
                <input id="search" placeholder="Enter the url link for your recipe"></input>
            </row>
            <row>
                <div class="col-xs-12 text-center btn-holder">
                    <button type="button" class="btn btn-success main-btn btn-lg" id="search-btn">Look up ingredients</button>
                </div>
             </row>
        </div>
    </div>
</div>







</html>