.page-base {
    min-height: 100%;
    border: none;
}

#search-container {
/*    margin: auto;
    vertical-align: middle;*/
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border: 1px solid orange;

}


#search{
	width:90%;
	padding:10px;

}
#search-btn{
	width:10%;
	padding:10px;
}